.altas-text1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
  
}

.altas-text2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 30px;
  margin-bottom: 10px; /* margen superior del border-bottom */
  padding-bottom: 10px; /* margen inferior del border-bottom */
  border-bottom: 2px solid black;
}

.altas-text3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
}

.altas-text4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.arrow-back-icon2 {
  position: absolute;
  top: 707px;
  bottom: 200px;
  left: 200px;
  margin-top: 20px;
}

.bajas-text1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
  
}

.bajas-text2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 120px;
  margin-bottom: 20px;
}

.box-title {
  text-align: center;
  padding-top: 20px;
}

.cambios-text1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
}

.cambios-text2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 30px;
  margin-bottom: 10px; /* margen superior del border-bottom */
  padding-bottom: 10px; /* margen inferior del border-bottom */
  border-bottom: 2px solid black;
}

.cambios-text3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
}

.cambios-text4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.preguntas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
  }

  .preguntas-grey-container {
    flex: 1;
    height: 525px;
    width: 50%;
    margin: 30px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }

  .preguntas-main {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .preguntas-title {
    font-size: 36px;
    margin-top: 50px;
  }