.student-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.game-container {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: 670px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px; /* Adjust container width */
  overflow: hidden;
  position: relative;
}

.text-blue {
  color: #007bff;
  justify-content: center;
}

.unity-game-frame {
  width: 100%;
  height: 100%;
  
  align-items: center;
  top: 20px;
  bottom: 30px;
}